@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Josefin+Sans&family=Kablammo&display=swap');
:root{
--darkgreen:#162c38;
--seagreen:#417972;
--grey:#c1b2a4;
--white:#f5f2e5;
--yellow: #f2d382;

--trans-darkgreen:#162c388b;
--trans-seagreen:#41797378;
--trans-grey:#c1b2a479;
--trans-white:#f5f2e57c;  
--trans-yellow: #f2d28282;

--button-shadow: 2.4px 2.4px 3.2px  rgba(0,0,0,0.15), 0 0 0  currentColor;
--shadow: 0 8px 24px  rgba(17,17,26,0.1), 0 16px 56px  rgba(17,17,26,0.1),
0 24px 80px  rgba(172, 172, 175, 0.1), 0 0 0  currentColor, 0 0 0  #00ffc4,
0 0 0  currentColor;

--bascic: 'Josefin Sans', sans-serif;
--topic: 'Kablammo', cursive;
--title:'Bagel Fat One', cursive;
--title-shadow:  3px 5px 2px #292828;
--topic-shadow: 3px 5px 2px #1b1a1a, 2px 2px 2px rgba(32,30,27,0);

}
html{
    scroll-behavior: smooth;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;

}

header{
position: fixed;
width: 100vw;
z-index: 10;
}
li{
list-style: none;
}
a{
text-decoration: none;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),#417972);
    box-sizing: border-box;
    overflow-x: hidden;
}
/*---------------------------------------------------NavBar--------------------*/
.navbar{
position: fixed;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--yellow);
color: #000;
padding: 10px;
height: 80px;
z-index: 999;
border: 8px solid black;
}

.logo h1 a{
font-family: 'Kablammo', cursive;
text-align: center;
display: flex;
position: relative;
font-size: 60px;
color: var(--seagreen);
top: 10px;
text-shadow: var(--topic-shadow);
}
.logo img{
width: 110px;
position: absolute;
top: 10px;

}
.icon img{
width: 24px;
align-items: center;
margin: 10px;
}
.menu{
position: relative;
top: 35px;
width: 400px;
height: 70px;
background-color: var(--white);
display: flex;
justify-content: space-around;
align-items: center;
border-radius: 3px;
border-bottom: 2px solid black;
border-left: 2px solid black;
box-shadow: 2px 2px 5px -1px black;
}
.menu::after{
content: '';
width: 100%;
height: 40%;
position: absolute;
top: 50%;
transform: translateY(-30%);
background: var(--trans-yellow);
box-shadow: 2px 2px 5px black;
}
.menu ul{
display: flex;
width: 350px;
}
.menu ul li{
position: relative;
width: 70px;
height: 70px;
z-index: 999;
}
.menu ul li a{
text-decoration: none;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
width: 100%;
text-align: center;
font-weight: 500;

}
.menu ul .list a .icon{
position: relative;
display: block;
line-height: 75px;
text-align: center;
transition: 0.5s;
top: 18px;
}
.menu ul li.active a .icon{
transform: translateY(-25px);
}
.menu ul li a .text{
margin-top: 5px;
position: absolute;
color: var(--darkgreen);
font-weight: 400;
font-size: 16px;
letter-spacing: 0.8px;
transition: 0.5s;
opacity: 0;
transform: translateY(20px);
}
.menu ul li.active a .text{
opacity: 1;
transform: translateY(10px);
}
.indicator{
position: absolute;
top: -35%;
width: 70px;
height: 70px;
background-color: var(--trans-white);
border-radius: 50%;
border: 9px solid var(--yellow);
transition: 0.5s;
z-index: 2;
}
.indicator::before{
content: '';
position: absolute;
top: 30%;
left: -28px;
width: 21px;
height: 21px;
background-color: transparent;
border-top-right-radius: 30px;
border-right:4px solid #f2d382;
box-shadow: 1px -14px 0 0 var(--yellow);
}
.indicator::after{
content: '';
position: absolute;
top: 30%;
right: -28px;
width: 21px;
height: 21px;
background-color: transparent;
border-top-left-radius: 30px;
border-left:4px solid #f2d382;
box-shadow: -1px -14px 0 0 var(--yellow);
}
.menu ul li:nth-child(1).active ~ .indicator{
transform: translateX(calc(70px * 0));
}
.menu ul li:nth-child(2).active ~ .indicator{
transform: translateX(calc(70px * 1));
}
.menu ul li:nth-child(3).active ~ .indicator{
transform: translateX(calc(70px * 2));
}
.menu ul li:nth-child(4).active ~ .indicator{
transform: translateX(calc(70px * 3));
}
.menu ul li:nth-child(5).active ~ .indicator{
transform: translateX(calc(70px * 4));
}




/*-------------------------------------------------Banner---------------------*/

.banner{
background-image: linear-gradient(rgba(0,0,0,0.5),#417972);
background-position: right;
background-size: cover;
background-repeat: no-repeat;
display: flex;
position: relative;
top: 80px;
padding: 50px;
color: var(--white);
border: 8px solid black;
border-top: none;
height: 100vh;
}
.intro{
margin: 15px;
padding: 10px;
width: 50%;
height: 80%;
box-shadow: 9px 11px 8px -1px rgba(28, 27, 27, 0.75);
border-bottom: 1px solid var(--white);
border-right: 1px solid var(--white);
border-bottom-right-radius: 30px;

}
.intro h1{
font-family: var(--topic);
text-shadow: var(--topic-shadow);
font-size: 50px;
font-weight: 300;
line-height: 120px;
margin: 30px 0;
text-align: right;

}
.intro h2{
font-family: 'Bagel Fat One', cursive;
letter-spacing: 2px;
font-size: 33px;
font-weight: 200;
text-align: center;
text-shadow: 2px 2px 2px black;
}
.intro p{
padding: 5px;
font-size: 20px;
text-align: justify;
text-shadow: 2px 2px 2px black;
}
.intro p span{
font-size: 30px;
font-weight: bolder;
color: var(--yellow);
}
.banner-img{
position: absolute;
top: 35px;
right: 10%;
opacity: .8;
}
.banner-img img{
width: 580px;
}


.title h1{
justify-content: center;
font-family: 'Kablammo', cursive;
text-align: center;
display: flex;
position: relative;
top: 150px;
font-size: 60px;
color:var(--grey);
text-shadow: var(--topic-shadow);
z-index: 1;

}
.subtitle{
font-family: var(--title);
font-size: 35px;
background: var(--grey);
color: var(--seagreen);
width: 550px;
border-radius: 20px;
text-align: center;
justify-content: center;
box-shadow: var(--button-shadow);
text-shadow: var(--title-shadow);
letter-spacing: 5px;
margin: 80px;
padding: 10px;
position: relative;
top: 50%;
left: 25%;
transform: translateX(-50%,-50%);  

}
.sb13:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid #c1b2a4;
border-right: 15px solid transparent;
border-top: 15px solid #c1b2a4;
border-bottom: 15px solid transparent;
right: -16px;
top: 10px;
}



.sb14:before {
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid transparent;
border-right: 15px solid #c1b2a4;
border-top: 15px solid #c1b2a4;
border-bottom: 15px solid transparent;
left: -16px;
top: 10px;
}




/*--------------------------------------about-------------------------------------*/

.about{
position: relative;
background-image: linear-gradient(var(--trans-yellow),#417972);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-top: 80px;
border: 8px solid black;
}
.about-intro{
position: relative;
margin: 30px;
padding: 15px;
border-radius: 10px;
box-shadow: var(--shadow);
display: flex;
justify-content: space-around;
box-sizing: border-box;
background: url(/assets/images/guitar-bg.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.circular-sb1, .circular-sb2 {
width: 40%;
border: 5px solid #000;
padding: 80px 0px;
margin: 30px auto;
border-radius: 50%;
text-align: center;
position: relative;
background-color: #162c3893;
color: var(--white);
}
.circular-sb2{
top: 90px;
}
.circular-sb1 p, .circular-sb2 p{
width: 80%;
text-align: center;
font-size: 20px;
padding: 20px;
position: relative;
left: 48px;
line-height: 25px;
text-align: justify;
text-shadow: 2px 2px 5px black;
}


.circle3{
border: 5px solid black;
position: absolute;
width: 25px;
padding: 50px 65px;
border-radius: 50%;
bottom: 23px;
left: -15px;
}

.circle1 {
border: 5px solid black;
position: absolute;
width: 25px;
padding: 50px 65px;
border-radius: 50%;
right: -15px;
bottom: 23px;
}
.circle3:before {
content: "";
position: absolute;
width: 25px;
padding: 50px 53px;
border-radius: 50%;
right: 0px;
bottom: 0px;
background: var(--darkgreen);
}

.circle1:before {
content: "";
position: absolute;
width: 25px;
padding: 50px 53px;
border-radius: 50%;
right: 0px;
bottom: 0px;
background: var(--darkgreen);
}
.circle4 {
border: 5px solid black;
position: absolute;
width: 5px;
padding: 10px 15px;
border-radius: 50%;
left: -40px;
bottom: 3px;
background-color: var(--darkgreen);
}
.circle2 {
border: 5px solid black;
position: absolute;
width: 5px;
padding: 10px 15px;
border-radius: 50%;
right: -40px;
bottom: 3px;
background-color: var(--darkgreen);
}





.guitar-info{
display: block;
align-items:center;
text-align: center;
padding: 20px;
margin: 20px;
}

.structure{
display: flex;
justify-content: space-around;
margin: 10px;
padding: 10px;
background-color: #c1b2a49a;
border-radius: 35px;
box-shadow: var(--button-shadow);
border: 3px solid black;
}
.structure-desc{
width: 850px;
margin: 15px;
padding: 25px;
border-radius: 35px;
box-shadow: var(--shadow);
justify-content: center;


}
.structure-desc p{
font-size: 26px;
line-height: 30px;
text-align: justify;
}
.structure img{
width: 380px;
margin: 15px;
padding: 15px;
border-radius: 35px;
box-shadow: var(--shadow);
justify-content: center;
}
.type-of{
display: flex;
justify-content: space-between;
margin: 10px;
padding: 10px;
margin-top: 80px;

}
.guitar-desc{
    position: relative;
    background-color: var(--trans-darkgreen);
    padding: 30px;
    box-shadow: var(--shadow);
    margin-top: -50px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 3px solid black;   
    z-index: 2;
}
.classic, .acoustic{
width: 350px;
}
.classic img{
margin: 5px;
padding: 0px;
width: 255px;
border-radius: 10px;
background-color: transparent;
position: absolute;
left: 65px;
opacity: .9;
}
.acoustic img{
margin: 10px;
padding: 10px;
width: 260px;
border-radius: 10px;
background-color:transparent;
position: absolute;
right: 40px;
}

.guitar-desc h4{
font-size: 35px;
font-weight: bold;
color: var(--yellow);
margin-top: 25px;

}
.guitar-desc p{
font-size: 23px;
color: var(--white);
text-align: justify;
}

.history{
margin: 10px;
padding: 10px;
color: var(--darkgreen);
background-color: #c1b2a49a;
box-shadow: var(--shadow);
border-radius: 35px;
border: 3px solid black;
}
.history h4{
font-size: 35px;
text-align: center;
font-weight: bold;
margin: 5px;
}

.history p{
text-align: justify;
background-color: var(--white);
margin: 15px;
padding: 25px;
font-size: 24px;
border: 1px solid black;
border-radius: 5px;
box-shadow: var(--button-shadow);
}
.history-part1{
display: flex;
}
.history-part1 img{
width: 120px;
margin: 5px;
padding:5px;
border-radius: 35px;
}
.history-part1 p{
text-align: justify;
font-size: 24px;
}
#more {display: none;}
#myBtn{
margin: 10px;
padding: 5px;
background-color: var(--yellow);
color: var(--darkgreen);
font-family: var(--title);
border: 1px solid black;
border-radius: 3px;
box-shadow: var(--button-shadow);
cursor: pointer;
}





*/
/*-----------------------------------------------Theory----------------------*/
.theory{
background-image: linear-gradient(var(--trans-yellow),#417972);
background-position:inherit;
background-size: cover;
background-repeat: no-repeat;
display: block;
align-items:center;
min-height: 1355px;
border: 8px solid black;
}

.acordion{
margin: 60px auto;
height: auto;
border: 2px solid transparent;
width: auto;
}
.acordion li{
margin: 30px;
padding: 20px;
border-radius: 8px;
background: #c1b2a49a;
box-shadow: var(--shadow);
border: 1px solid black;
height: auto;
}
.acordion li label{
display: flex;
align-items: center;
padding: 5px;
font-weight: 500;
cursor: pointer;
}

label::before{
content: '+';
margin-right: 10px;
font-size: 24px;
font-weight: 600;
font-family: var(--title);

}
label span{
font-family: var(--title);
font-size: 24px;
}
input[type="radio"]{
display: none;
}
.acordion .content{
padding: 0 10px;
line-height: 26px;
max-height: 0;
overflow: scroll;
overflow-x: hidden;
transition: max-height 0.5s, padding 0.5s;
}
.acordion input[type="radio"]:checked + label + .content{
max-height: 500px;
padding: 10px 10px 20px;
}
.acordion input[type="radio"]:checked + label::before{
content: '-';
}
.steps-intro{
margin-bottom: 30px;
border-radius: 10px;
opacity: 1;
position: relative;
top: 80px;
}
.steps-intro p{
text-align: justify;
background: #417973a3;
color: var(--grey);
margin: 80px;
padding: 20px;
border-radius: 10px;
font-size: 24px;
font-weight: 300;
border: 3px solid black;
text-shadow: 2px 2px 5px black;
}
.steps{
position: relative;
top: 80px;
}

.step-list{
margin: 0;
padding: 0;
color: var(--darkgreen);
overflow: hidden;
}
.points li{
list-style: circle;
margin-left: 15px;
padding: 5px;
font-size: 20px;
}

.step-title img{
width: 180px;
border-radius: 5px;
box-shadow: var(--shadow);
}
.step-title h4{
font-family: var(--title);
font-size: 25px;
color: black;
font-weight: 100;
text-align: left;
margin: 5px;
}
.step{
overflow: hidden;
}
.step p{
padding: 5px;
font-size: 22px;
line-height: 18px;
text-align: justify ;
}
/*
@media only screen and (max-width:1700px){
.theory{
min-height: 1500px;
}
}
@media only screen and (max-width:1200px){
.theory{
min-height: 1600px;
}
}
@media only screen and (max-width:992px){
.theory{
min-height: 1850px;
}
}*/
/*---------------------------------practice-----------------------------------------------*/
.practice{
background-image: linear-gradient(rgba(0,0,0,0.5),#417972);
background-repeat: no-repeat;
background-position: bottom;
background-size: cover;
align-items: center;
justify-content: center;
border: 8px solid black;

}
.gizmos{
margin: 20px;
height: 1450px;
background-color: var(--yellow);
border: 3px solid #000;
border-radius: 20%;
}
.tools{
display: flex;
margin: 5px;
padding: 10px;
justify-content: space-around;
position: relative;
top: 50px;
}
.practice h3{
margin-top: 180px;
margin-bottom: 20px;
}
.tools h2{
text-align: center;
font-family: var(--title);
font-size: 40px;
text-shadow: var(--title-shadow);
color: var(--white);
}
.tools p{
text-align: center;
font-size: 15px;
color: var(--darkgreen);
font-family: var(--topic);
}
.iframe{
width: 400px;
height: 565px;
background: var(--seagreen);
border-radius: 28%;
box-shadow: var(--shadow);
border: 3px solid black;

}
.iframe iframe , .c-iframe iframe, .c-img img{
position: relative;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
align-items: center;
justify-content: center;
box-shadow: 2px 2px 5px black;

}
.chords{
display: flex;
margin: 5px;
padding: 10px;
justify-content: space-around;
}
.chords-title h2{
text-align: center;
font-family: var(--title);
font-size: 40px;
text-shadow: var(--title-shadow);
color: var(--white);
}
.chords-title p{
text-align: center;
font-size: 15px;
color: var(--darkgreen);
font-family: var(--topic);
}
.c-iframe{
width: 400px;
height: 600px;
background: var(--seagreen);
border-radius: 28%;
box-shadow: var(--shadow);
border: 3px solid black;
}
.c-img{
width: 400px;
height: 600px;
background: var(--seagreen);
border-radius: 28%;
box-shadow: var(--shadow);
border: 3px solid black;
}
.chords img{
width: 365px;
height: 565px;
border-radius: 28%;
}
/*--------------------------me-----------------------------*/
.me{
background-image: linear-gradient( rgba(0,0,0,0.5),#417972), url(/assets/images/eMe-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
min-height: 1450px;
align-items: center;
justify-content: center;
border: 8px solid black;
}

.circular-sb3, .circular-sb4 {
width: 300px;
border: 5px solid #000;
background-color: #c1b2a49a;
padding: 80px 0px;
margin: 30px auto;
border-radius: 50%;
text-align: center;
font-size: 20px;
font-weight: 400;
font-family: var(--title);
position: relative;
color: var(--darkgreen);
}
.circular-sb4{
top: 80px;
}
.circular-sb3{
top: 180px;
}
.f-exp p{
    font-size: 18px;
    padding: 50px;
    line-height: 20px;
}
/*right circle shape speech bubble*/

.circle5 {
border: 5px solid #000;
position: absolute;
width: 23px;
padding: 25px 30px;
border-radius: 50%;
left: -30px;
bottom: 13px;
}

.circle5:before {
content: "";
position: absolute;
width: 23px;
padding: 25px 18px;
border-radius: 50%;
right: 0px;
bottom: 0px;
background: var(--grey);
}

.circle6 {
border: 5px solid #000;
position: absolute;
width: 5px;
padding: 10px 15px;
border-radius: 50%;
left: -70px;
bottom: 3px;
}


/*left circle shape speech bubble*/

.circle7 {
border: 5px solid #000;
position: absolute;
width: 25px;
padding: 25px 30px;
border-radius: 50%;
right: -30px;
bottom: 10px;
}

.circle7:before {
content: "";
position: absolute;
width: 25px;
padding: 25px 18px;
border-radius: 50%;
right: 0px;
bottom: 0px;
background:var(--grey);
}

.circle8 {
border: 5px solid #000;
position: absolute;
width: 5px;
padding: 10px 15px;
border-radius: 50%;
right: -50px;
bottom: -20px;
}





.me-intro{
display: flex;
padding: 20px;
justify-content: space-around;
position: relative;
margin-bottom: 150px;

}
.beneficts{
display: flex;
margin: 30px;
padding: 30px;
justify-content: space-around;
border: 5px solid #000;
border-radius: 30px;
box-shadow: var(--shadow);
}
.beneficts p{
margin: 15px;
padding: 20px;
font-size: 24px;
font-family: var(--title);
background-color: #41797443;
color: var(--white);
width: 400px;
border-radius: 15px;
box-shadow: var(--shadow);
border: 5px solid #000;
text-shadow: var(--title-shadow);
}
.v-iframe{
border: 3px solid #000;
width: 567px;
border-radius: 20px;
box-shadow: var(--button-shadow);
justify-content: center;
align-items: center;
}
.v-iframe iframe{
border-radius: 20px;
}
.f-exp{
display: flex;
}
.f-exp p{
font-size: 18px;
font-weight: 800;
}

.circular-sb5{
width: 300px;
border: 5px solid #000;
background-color: #c1b2a49a;
padding: 80px 0px;
margin: 30px auto;
border-radius: 50%;
text-align: center;
font-size: 24px;
font-weight: 400;
font-family: var(--title);
position: relative;
color: var(--darkgreen);
}


hr{
color: var(--yellow);
border: 1px solid black;
}
.pr{
    font-size: 10px;
    line-height: 20px;
}
footer{
    max-width: 100vw;
    box-sizing: border-box;
background-image: linear-gradient(rgba(0,0,0,0.5),#417972), url(/assets/images/guita-background-4.avif);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
color: var(--white);
border: 8px solid black;
}
.ending{
position: relative;
display: flex;
flex-wrap: wrap;
margin: 30px;
padding: 20px;
justify-content: space-between;
box-shadow: 5px 5px 20px black;
border-radius: 3px;
}
.ending h3{
text-align: center;
font-size: 18px;
font-family: var(--title);
text-shadow: var(--title-shadow);
letter-spacing: 3px;
}
.end-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
width: 300px;
margin: 10px;
height: 400px;
padding: 10px;
align-items: stretch;
}
.end-text p{
margin: 10px;
text-align: justify;
font-size: 20px;
line-height: 18px;
}
.ending ul li{
padding: 10px;
margin: 10px;
width: 80%;
}
.ending ul li a{
text-decoration: none;
color: var(--white);
font-size: 15px;
text-align: center;
padding: 5px;
margin: 20px;

}
.ending ul li a:hover{
color: var(--grey);
background-color: #f2d28242;
text-decoration: underline;
color: var(--darkgreen);
border-radius: 5px;
}

.ending img{
width: 250px;
height: 250px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
opacity: .5;
}
.copyright{
justify-content: space-between;
display: flex;
text-align: center;
padding: 20px;
color: var(--grey);
}
.copyright p{
font-size: 13px;
}
.copyright img{
font-size: 13px;
}


/*------------------------mediaQuery--------------------------*/
@media only screen and (max-width:1200px){
    body{
        border: 3px solid red;
    }
.banner-img img{
    opacity: 0.6;
}
.intro{
width: 80%;
z-index: 3;
}
.intro h1{
font-size: 45px;
width: 550px;
}
.intro h2{
font-size: 28px;
}
.intro p{
font-size: 20px;
line-height: 25px;
background-color: #162c3846;
border-radius: 3px;
}
.circular-sb1, .circular-sb2{
    width: 80%;
}
.circular-sb1 p, .circular-sb2 p{
    font-size: 18px;
}
.subtitle{
    left: 2%;
}
.sb13:before{
content: "";
width: 0px;
height: 0px;
position: absolute;
border-left: 15px solid transparent;
border-right: 15px solid #c1b2a4;
border-top: 15px solid #c1b2a4;
border-bottom: 15px solid transparent;
left: -16px;
top: 10px;
}
.structure-desc{
    height: auto;
}
.structure-desc p{ 
    font-size: 20px;
}
.circle3{
    left: 2%;
}
.circle4{
    left: 0;
}
.circle1{
    right: 2%;
}
.circle2{
    right: 0;
}
.history p{
 font-size: 18px;
}
.last-p{
    width: 500px;
}
}
@media only screen and (max-width:900px){
    body{
        border: 3px solid green;
    }
    .title h1{
        top: 50px;
    }
    .subtitle{
        width: 350px;
    }
    .intro{
        width: 90%;
    }
    .about-intro{
        flex-direction: column;
    }
    .circular-sb1, .circular-sb2 {
        width: 80%;
        padding: 80px;
        margin: 10px auto;
    }
    .circular-sb2{
        top: 0;
        }
    .circular-sb1 p, .circular-sb2 p{
        width: 90%;
        font-size: 18px;
    }
    .structure-desc p{
       font-size: 17px;
    }
    .structure img{
        margin-top: 30px;
    }
    .guitar-desc h4{
        font-size: 25px;
    }
    .guitar-desc p{
        font-size: 20px;
    }
    .history h4{
        font-size: 25px;
    }
    .history p{
        background: var(--trans-white);
        font-size: 20px;
        z-index: 2;
    }
    .history-part1 p{
        font-size: 20px;
    }
    .history-part1 img{
        opacity: .5;
    }
    .beneficts{
        align-items: center;
        flex-direction: column;
    }
    .beneficts p{
        width: 100%;
        height: auto;
    }
    .f-exp{
        flex-direction: column;
    }
    
    .last-p{
        width: 100%;
        text-align: center;
    }
    .end-text{
        box-shadow: 2px 2px 5px #222;
    }
    

}
@media only screen and (max-width:786px){
    body{
        border: 3px solid purple;
    }
}

